# Configuración global
* text=auto

# Archivos de texto específicos
*.md text
*.json text
*.ts text
*.js text
*.tsx text
*.jsx text
*.css text
*.html text
*.yml text
*.yaml text
*.toml text
*.config.js text
*.config.ts text

# Archivos de Prisma
*.prisma text eol=lf
*.sql text eol=lf
*.toml text eol=lf

# Archivos binarios
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary